In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

# Import sklearn.preprocessing.StandardScaler
from sklearn.preprocessing import StandardScaler
# Import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDRegressor
from sklearn.metrics import r2_score
from sklearn.linear_model import Lasso, Ridge
from sklearn.preprocessing import MinMaxScaler

import utils.helper as uh

In [2]:
data_dir = './data'

data_file = os.path.join(data_dir, 'processed_data.csv')

df = pd.read_csv(data_file, index_col=0)

In [3]:
df

,industry,city,state,min_revenue,max_revenue,min_salary_estimate,max_salary_estimate,avg_salary_estimate,avg_revenue
0,Social Assistance,New York,NY,100,500,37000,66000,51500,300.0
1,Health Care Services & Hospitals,New York,NY,2000,5000,37000,66000,51500,3500.0
3,IT Services,New York,NY,50,100,37000,66000,51500,75.0
4,Sports & Recreation,New York,NY,100,500,37000,66000,51500,300.0
7,Insurance Carriers,New York,NY,100,500,37000,66000,51500,300.0
...,...,...,...,...,...,...,...,...,...
2245,Staffing & Outsourcing,Centennial,CO,50,100,78000,104000,91000,75.0
2247,Computer Hardware & Software,Broomfield,CO,25,50,78000,104000,91000,37.5
2249,Wholesale,Centennial,CO,10000,10000,78000,104000,91000,10000.0
2251,Enterprise Software & Network Solutions,Centennial,CO,25,50,78000,104000,91000,37.5
2252,Health Care Services & Hospitals,Broomfield,CO,2000,5000,78000,104000,91000,3500.0

In [4]:
df.columns

Index(['industry', 'city', 'state', 'min_revenue', 'max_revenue',
       'min_salary_estimate', 'max_salary_estimate', 'avg_salary_estimate',
       'avg_revenue'],
      dtype='object')

In [5]:
df_copy = df.copy()

In [6]:
scaler = StandardScaler() # default=(0, 1)
numerical = ['min_revenue', 'max_revenue', 'avg_revenue']

df_copy[numerical] = scaler.fit_transform(df_copy[numerical])

In [7]:
df_copy

,industry,city,state,min_revenue,max_revenue,min_salary_estimate,max_salary_estimate,avg_salary_estimate,avg_revenue
0,Social Assistance,New York,NY,-0.510069,-0.525442,37000,66000,51500,-0.525467
1,Health Care Services & Hospitals,New York,NY,0.053684,0.685594,37000,66000,51500,0.390499
3,IT Services,New York,NY,-0.524905,-0.633090,37000,66000,51500,-0.589871
4,Sports & Recreation,New York,NY,-0.510069,-0.525442,37000,66000,51500,-0.525467
7,Insurance Carriers,New York,NY,-0.510069,-0.525442,37000,66000,51500,-0.525467
...,...,...,...,...,...,...,...,...,...
2245,Staffing & Outsourcing,Centennial,CO,-0.524905,-0.633090,78000,104000,91000,-0.589871
2247,Computer Hardware & Software,Broomfield,CO,-0.532323,-0.646546,78000,104000,91000,-0.600605
2249,Wholesale,Centennial,CO,2.427383,2.031190,78000,104000,91000,2.251054
2251,Enterprise Software & Network Solutions,Centennial,CO,-0.532323,-0.646546,78000,104000,91000,-0.600605
2252,Health Care Services & Hospitals,Broomfield,CO,0.053684,0.685594,78000,104000,91000,0.390499

In [8]:
df_x = df_copy[['industry', 'city', 'state', 'min_revenue', 'max_revenue', 'avg_revenue']]
df_y = df_copy['avg_salary_estimate']

In [9]:
df_x = pd.get_dummies(df_x)

In [10]:
# Split the 'features' and 'income' data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_x, 
                                                    df_y, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

In [11]:
# Show the results of the split
print("Training set has {} samples.".format(X_train.shape[0]))
print("Testing set has {} samples.".format(X_test.shape[0]))

Training set has 1130 samples.
Testing set has 283 samples.

In [12]:
model = SGDRegressor(max_iter=5000, tol=1e-3)

In [13]:
model.fit(X_train, y_train)

SGDRegressor(max_iter=5000)

In [14]:
predictions = model.predict(X_test)

In [15]:
r2_score(y_test, predictions)

0.32333558120114914

In [16]:
df_copy = df.groupby(['industry', 'city', 'state'], as_index=False).mean()

scaler = StandardScaler() # default=(0, 1)
numerical = ['min_revenue', 'max_revenue', 'avg_revenue']

df_copy[numerical] = scaler.fit_transform(df_copy[numerical])

df_x = df_copy[['industry', 'city', 'state', 'min_revenue', 'max_revenue', 'avg_revenue']]
df_y = df_copy['avg_salary_estimate']

df_x = pd.get_dummies(df_x)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(df_x, 
                                                    df_y, 
                                                    test_size = 0.2, 
                                                    random_state = 0)

model = SGDRegressor(max_iter=5000, tol=1e-3)

model.fit(X_train, y_train)

predictions = model.predict(X_test)

r2_score(y_test, predictions)

0.4350893090569071